*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
h1, h2 , .titles{
    /* color: #FF5B00; */
    color: #FF5B00;
}

/* Navbar */

.navbar{
    background-color: #FF5B00;
}

/* Header stars */
header {
    height: 100vh;
    width: 100vw;
    background-image: url("headerback.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.fad-out{
    height: 100%;
    width: 100%;
    background-color: #ffffffd2;
}

.welcome-txt{
    position: absolute;
    top: 40%;
    left: 15%;
}
/* Header ends */

/* About me starts */
.face-image{
    /* background-image: url(./face1.jpg);
    height: 45vh;
    width: 20vw;
    background-size: cover; */
    border-radius: 50%;
}

/* About me ends */



/* Blog starts */
.blog-images img{
    height: 25vh;

}

small a{
    text-decoration: none;
}

.btn-color{
    background-color: #FF5B00;
    border: none;
    color: #ffffff;
}
i{
    color: #FF5B00;
}

.text-end {
     /* background: linear-gradient(to bottom, red 0%, red 50%, red 50%, white 50%, white 100%);
     W3C */

    background: linear-gradient(to left bottom, #FF5B00 80%, transparent 35%);
    color: wheat;
 }